<header>
    <nav class="navbar navbar-expand-lg sticky-top">
      <div class="container d-flex justify-content-between align-items-center">
        <!-- Left: Brand -->
        <a class="navbar-brand" href="/"><b>LIEFERSPATZ</b></a>
        
        <!-- Center: Nav Items -->
        <div class="collapse navbar-collapse justify-content-center" id="main">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link p-2 p-lg-3 active" aria-current="page" href="/">Home</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link p-2 p-lg-3" href="#">Deals</a>
            </li> -->
            <!-- <li class="nav-item">
              <a class="nav-link p-2 p-lg-3" href="/nearby">Nearby Restaurants</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link p-2 p-lg-3" href="/contactus">Contact Us</a>
            </li>
          </ul>
        </div>
        
          <!-- Right: Search Bar and Icons -->
          <div class="d-flex align-items-center">
            <!-- Search Bar -->
            <div class="search-bar d-none d-lg-block">
              <input type="text" placeholder="What are you looking for?" />
              <button class="btn btn-success">
                <i class="fa-solid fa-search"></i>
              </button>
            </div>
            <!-- Other Icons -->
            
            </div>
            <div class="btn btn-success ms-2 d-none d-lg-block">
              <i class="bi bi-bag-heart"></i>
            </div>
            

            <div class="btn btn-success ms-2 d-none d-lg-block" >
             <a href="/login"> <i class="fa-regular fa-user"></i></a>
            </div>
          </div>
      </div>
    </nav>
  </header>